* {
  font-family: Avenir, sans-serif;
  word-wrap: break-word;
}

a {
  text-decoration: none;
}

.assetsImage {
  height: 80vh;
  width: 100%;
  border-radius: 16px;
}

.App {
  text-align: center;
}

.App h1 {
  margin-bottom: 4vh;
}

.pages {
  /*margin-top: 7vh;*/
}

/* Home */

.showcase {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  padding: 0 20px;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-container video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.video-container:after {
  content: '';
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0);
}

.video-content {
  z-index: 2;
  border-radius: 16px;
  padding: 2vh;
}

.video-content h1 {
  margin: 2vh;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  background-color: rgba(255, 255, 255, 0.4) !important;
  color: #fff !important;
  border-radius: 5px;
  border: solid #fff 1px;
  margin-top: 25px;
  opacity: 0.7;
}

.btn:hover {
  transform: scale(1.05);
}

#about {
  padding: 40px;
  text-align: center;
}

#about p {
  font-size: 1.2rem;
  max-width: 600px;
  margin: auto;
}

#about h2 {
  margin: 30px 0;
  color: var(--primary-color);
}

.social a {
  margin: 0 5px;
}

/* Weather */

.weather {
  background-image: url('./assets/weather1.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-in-out;
  height: 100vh;
}

.weather.cold {
  background-image: url('./assets/cold.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-in-out;
}

.weather.warm {
  background-image: url('./assets/warm.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-in-out;
}

.weather-empty p {
  color: #fff;
  margin: 0;
  font-weight: bold;
}

main {
  height: auto;
  padding: 12vh 2vh 2vh 2vh;
  border-radius: 24px;
}

.search-box {
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 16px;

  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);

  color: #313131;
  font-size: 20px;

  transition: 0.4s ease-out;
}

.search-box .search-bar:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

.location-box .location {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;

  padding: 15px 25px;

  color: #fff;
  font-size: 102px;
  font-weight: 900;

  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .weather-description {
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

/* Media for Smaller Screens */

@media screen and (max-width: 1000px) {
  .App {
    padding: 0;
  }

  .assetsImage {
    height: auto;
  }
}

@media screen and (max-width: 550px) {

  .video-container {
    background: url('./assets/cover.jpg') no-repeat center center/cover !important;
    background-size: 200vh !important;
  }

  .myVideo {
    display: none !important;
  }
}
